additional files/n8n/Notion_fill_automate_dt.json
{
  "name": "Notion fill automate_dt",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        220,
        300
      ],
      "id": "756429a2-a2bc-4826-89e1-a6bb62d6e305"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "57c5b12b-7019-466c-bced-93eedae0b0d5",
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Automate_dt|date",
              "condition": "is_empty"
            }
          ]
        },
        "options": {}
      },
      "name": "get no Automate_dt",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        440,
        300
      ],
      "notesInFlow": false,
      "id": "e84d3d22-19bd-4f05-8d7f-cfd6f752a746",
      "credentials": {
        "notionApi": {
          "id": "1",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{$node[\"get no Automate_dt\"].json[\"id\"]}}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Automate_dt|date",
              "includeTime": false,
              "date": "={{new Date().toISOString()}}",
              "timezone": "Europe/Moscow"
            }
          ]
        }
      },
      "name": "Fill automate_dt",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "id": "558e8178-d25f-4507-b7d1-8a34932e1154",
      "credentials": {
        "notionApi": {
          "id": "1",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {},
      "id": "c5efde4c-04e6-482c-8fff-7cf2cfd19b00",
      "name": "When Called By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        220,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all()[0];"
      },
      "id": "5cdd97e1-af88-4605-952a-e28eab036d2f",
      "name": "Return 1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "get no Automate_dt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get no Automate_dt": {
      "main": [
        [
          {
            "node": "Fill automate_dt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Called By Another Workflow": {
      "main": [
        [
          {
            "node": "get no Automate_dt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fill automate_dt": {
      "main": [
        [
          {
            "node": "Return 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "c9ec54e2-771d-441d-91fd-030ca9992821",
  "id": 18,
  "meta": {
    "instanceId": "d1fdba25bf7c6bc1df4a23ef2a8b6f6effd0a3156de889abe9ed314a495a5a7a"
  },
  "tags": [
    {
      "createdAt": "2022-07-23T09:23:03.555Z",
      "updatedAt": "2022-07-23T09:25:41.548Z",
      "id": "1",
      "name": "🚀 production"
    }
  ]
}